[submodule "ips/riscv"]
	path = ips/riscv
	url = https://github.com/Thales-RISC-V/riscv
[submodule "ips/riscv-dbg"]
	path = ips/riscv-dbg
	url = https://github.com/Thales-RISC-V/riscv-dbg/
[submodule "ips/axi/axi_slice_dc"]
	path = ips/axi/axi_slice_dc
	url = https://github.com/Thales-RISC-V/axi_slice_dc/
[submodule "ips/L2_tcdm_hybrid_interco"]
	path = ips/L2_tcdm_hybrid_interco
	url = https://github.com/pulp-platform/L2_tcdm_hybrid_interco/
[submodule "ips/fpnew"]
	path = ips/fpnew
	url = https://github.com/Thales-RISC-V/fpnew/
